<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="assets/css/styles.css">
	<link rel="icon" href="assets/img/weather.png">
	<title>{{title}}</title>
</head>

<body>
	{{>header}}
	<p>{{message}}</p>
	{{>footer}}

</body>

</html>
